body {
    background: linear-gradient(to bottom, #f8c8dc, #ffb6c1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 182, 193, 0.8);
    padding: 20px;
}

h1 {
    color: #880e4f;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #880e4f;
    font-weight: bold;
}

section {
    padding: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.galeria img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Achicar las dos últimas imágenes un 70% */
.galeria img:nth-child(2),
.galeria img:nth-child(3) {
    width: 140px; /* Tamaño reducido al 70% de 200px */
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

button {
    background-color: #880e4f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #aa125f;
}
img {
    width: 300px;
    height: auto;
}
img {
    width: 200px;
    height: 200px;
}
